<!DOCTYPE html>
<html>
  <head>
    <title>酔いチェッカー</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div role="main" style="text-align: center;">
      <h1>酔いチェッカー</h1>
      <p>体重を入力してスタート</p>
      <form method="GET" action="/result">
        <input type="number" name="weight">
        <input type="submit" value="スタート">
      </form>
    </div>
  </body>
</html>
